<div>
  <form>
    <div>
      <input type="file" style="display: none" (change)='uploadCSV($event)' #csvUpload data-cy="csvFileUploadInput">
      <button mat-raised-button (click)='csvUpload.click()' data-cy="uploadCSVButton">Upload CSV</button>
    </div>
    <div>
      <input type="file" style="display: none" (change)='uploadZIP($event)' #zipUpload>
      <button mat-raised-button (click)='zipUpload.click()' [disabled]="!csvUploadComplete" data-cy="uploadZIPButton">Upload Videos (ZIP)</button>
    </div>
    <p [attr.data-cy]="'uploadStatusMessage'">
    {{ uploadStatusMessage }}
    </p>

    <ul>
      <li *ngFor="let error of errorLocations">
        <p>{{ error.place }}: {{ error.message }}</p>
      </li>
    </ul>
  </form>
</div>
