<div *ngIf="hasRemainingTags; then tagInterface else noTagsMessage"></div>

<!-- Tagging view -->
<ng-template #tagInterface>
  <div fxLayout="row" fxLayoutAlign="space-around">
    <!-- Response Video View -->
    <div class="video-tag-child" *ngIf="tag && tag.response">
      <video [src]="tag.response.videoURL" controls>
      </video>
    </div>

    <!-- Form View -->
    <div class="video-tag-child">
      <jsonforms
        [data]='tagData'
        [schema]='tagDataSchema'
        [uischema]='tagUISchema'
        [renderers]='renderers'
        (dataChange)='formChange($event)'
      >
      </jsonforms>
      <button mat-stroked-button (click)="formSubmit()">Submit</button>
    </div>
  </div>
</ng-template>

<!-- Message view for when no more responses are left untagged -->
<ng-template #noTagsMessage>
  <mat-card>
    <mat-card-title>No Responses Untagged</mat-card-title>
    <mat-card-content>
      All responses have been tagged so far, come back later
    </mat-card-content>
  </mat-card>
</ng-template>
