<div class="video-grid">
  <table mat-table [dataSource]="videoData" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- TODO: Add tool tip help for each column -->

    <!-- Prompt Column -->
    <ng-container matColumnDef="prompt">
      <th mat-header-cell *matHeaderCellDef>Prompt</th>
      <td mat-cell *matCellDef="let video"> {{video.prompt}} </td>
    </ng-container>

    <!-- View Column -->
    <ng-container matColumnDef="view">
      <th mat-header-cell *matHeaderCellDef> View </th>
      <td mat-cell *matCellDef="let video">
        <button mat-raised-button>Inspect</button>
      </td>
    </ng-container>

    <!-- Duration Column -->
    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef> Duration </th>
      <td mat-cell *matCellDef="let video"> {{video.duration}}s </td>
    </ng-container>

    <!-- Enabled Column -->
    <ng-container matColumnDef="isEnabled">
      <th mat-header-cell *matHeaderCellDef> Enabled </th>
      <td mat-cell *matCellDef="let video">
        <mat-checkbox [(ngModel)]="video.isEnabled"></mat-checkbox>
      </td>
    </ng-container>

    <!-- Tagged Column -->
    <ng-container matColumnDef="isTagged">
      <th mat-header-cell *matHeaderCellDef> Tagged </th>
      <td mat-cell *matCellDef="let video">
        <mat-checkbox [(ngModel)]="video.tag" disabled></mat-checkbox>
      </td>
    </ng-container>

    <!-- Person who recorded the video -->
    <ng-container matColumnDef="responderID">
      <th mat-header-cell *matHeaderCellDef> Video Recorder </th>
      <td mat-cell *matCellDef="let video"> {{video.responderID}} </td>
    </ng-container>

    <!-- Tag associated with the video -->
    <ng-container matColumnDef="tag">
      <th mat-header-cell *matHeaderCellDef> Tag </th>
      <td mat-cell *matCellDef="let video"> {{video.tag}} </td>
    </ng-container>

    <!-- Person who tagged the video -->
    <ng-container matColumnDef="tagger">
      <th mat-header-cell *matHeaderCellDef> Tagger </th>
      <td mat-cell *matCellDef="let video"> {{video.tagger}} </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
