<mat-form-field style="width: 100%">
  <!-- Input secion -->
  <mat-label>{{ label }}</mat-label>
  <mat-hint *ngIf="shouldShowUnfocusedDescription()">{{ description }}</mat-hint>
  <input
    matInput
    class="sign-search"
    style="margin: 1rem"
    type="text"
    [(ngModel)]="signSearch"
    (ngModelChange)="signSearchSubject.next($event)"
  />

  <!-- Sign selection section -->
  <div class="sign-search-result">
    <table class="sign-search-table" rules=none>
      <!-- Each sign that showed up for the search -->
      <tr
        *ngFor="let tagSearchResult of tagSearchResults"
        style="width: 100%"
        (click)="selectSign(tagSearchResult)"
        [class.active]="tagSearchResult.code == this.selectedSignCode">

        <!-- Sign video view -->
        <td class="embedded-sign-video">
          <iframe [src]="tagSearchResult.videoURL | safe" allow="autoplay">
          </iframe>
        </td>

        <!-- English sign tag -->
        <td>
          {{ tagSearchResult.englishTag }}
        </td>
      </tr>

      <!-- Option for custom sign -->
      <tr
        *ngIf="allowCustomLabels && signSearch != ''"
        style="width: 100%"
        (click)="selectCustomLabel(signSearch)"
        [class.active]="customOptionSelected">

        <!-- Custom icon -->
        <td class="embedded-sign-video">
          Custom Option
        </td>

        <!-- The user search text -->
        <td>
          {{ signSearch }}
        </td>
      </tr>
    </table>
  </div>
</mat-form-field>
