<div *ngIf="firstTimeSetup; then firstTimeSetupView else routerView"></div>

<!-- View project owner sees when setting up the application -->
<ng-template #firstTimeSetupView>
  <first-time-setup [onSetupComplete]='this.setupComplete'></first-time-setup>
</ng-template>

<!-- Normal view during SignLab usage -->
<ng-template #routerView>
  <mat-toolbar class="navbar">
    <div style="color: #fafafa">ASL-LEX SignLab</div>
    <!-- Tagging interface for users -->
    <a class="nav-button" mat-button routerLink='/tag' routerLinkActive="active-link">Tagging</a>

    <!-- Admin based operations -->
    <a class="nav-button" *ngIf="authService.isAuthenticated() && (authService.user.roles.admin || authService.user.roles.owner)"
       mat-button routerLink='/admin' routerLinkActive="active-link">Admin</a>

    <!-- Owner based operations -->
    <a class="nav-button" *ngIf="authService.isAuthenticated() && authService.user.roles.owner"
       mat-button routerLink="/owner" routerLinkActive="active-link">Owner</a>


    <!-- Login vs Logout Button -->
    <a class="nav-button" mat-button routerLink='/auth' routerLinkActive="active-link" *ngIf="!authService.isAuthenticated()">Login</a>
    <button class="nav-button" mat-button *ngIf="authService.isAuthenticated()" (click)="logout()">Logout</button>

  </mat-toolbar>

  <!-- The routed views render in the <router-outlet>-->
  <router-outlet></router-outlet>
</ng-template>
