<div *ngIf="firstTimeSetup; then firstTimeSetupView else routerView"></div>

<!-- View project owner sees when setting up the application -->
<ng-template #firstTimeSetupView>
  <first-time-setup [onSetupComplete]='this.setupComplete'></first-time-setup>
</ng-template>

<!-- Normal view during SignLab usage -->
<ng-template #routerView style="height: 100%">
  <mat-drawer-container style="height: 100%">

    <mat-drawer mode="side" class="navbar" opened>


      <mat-nav-list>
        <a mat-list-item
           routerLink="/tag"
           routerLinkActive="active-link"
           class="nav-link">Tagging</a>
        <a mat-list-item
           *ngIf="authService.isAuthenticated() && (authService.user.roles.admin || authService.user.roles.owner)"
           routerLink="/admin"
           routerLinkActive="active-link"
           class="nav-link">Admin</a>
        <a mat-list-item
           *ngIf="authService.isAuthenticated() && authService.user.roles.owner"
           routerLink="/owner"
           routerLinkActive="active-link"
           class="nav-link">Owner</a>
        <a mat-list-item
           routerLink="/auth"
           routerLinkActive="active-link"
           *ngIf="!authService.isAuthenticated()"
           class="nav-link">Login</a>
        <a mat-list-item
           *ngIf="authService.isAuthenticated()"
           (click)="logout()"
           class="nav-link">Logout</a>
      </mat-nav-list>
    </mat-drawer>

    <div class="main-content">
      <!-- Main View -->
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-container>
</ng-template>
