<div *ngIf="firstTimeSetup; then firstTimeSetupView else routerView"></div>

<!-- View project owner sees when setting up the application -->
<ng-template #firstTimeSetupView>
  <first-time-setup [onSetupComplete]='this.setupComplete'></first-time-setup>
</ng-template>

<!-- Normal view during SignLab usage -->
<ng-template #routerView>
  <mat-toolbar class="navbar">
    <div>ASL-LEX SignLab</div>
      <div>
        <a mat-button routerLink='/tag'>Tagging</a>
        <a *ngIf="authService.isAuthenticated() && (authService.user.roles.admin || authService.user.roles.owner)" mat-button routerLink='/admin'>Admin</a>
        <a mat-button routerLink='/auth'>Login</a>
      </div>
  </mat-toolbar>

  <!-- The routed views render in the <router-outlet>-->
  <router-outlet></router-outlet>
</ng-template>
