/* You can add global styles to this file, and also import other style files */
.navbar {
  background-color: #4e6180;
}

a {
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 1rem;
  font-size: 50px;
  color: #fafafa;
  font-size: 16px;
  border-radius: 5px;
}
