<div class="response-grid">
  <!-- Responses table view -->
  <table mat-table [dataSource]="responseData" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- TODO: Add tool tip help for each column -->

    <!-- View Column -->
    <ng-container matColumnDef="view">
      <th mat-header-cell *matHeaderCellDef> View </th>
      <td mat-cell *matCellDef="let responseElem; let idx = index">
        <div class="video-preview">
          <video src="{{ responseElem.response.videoURL }}"
                 (mouseenter)="playVideo(idx)"
                 (mouseleave)="stopVideo(idx)" loop #previewVideo></video>
        </div>
      </td>
    </ng-container>

    <!-- Enabled Column -->
    <ng-container matColumnDef="studyEnableControls">
      <th mat-header-cell *matHeaderCellDef> Available for Tagging </th>
      <td mat-cell *matCellDef="let responseElem">
        <mat-slide-toggle
          (change)="partOfStudyChange.emit({responseElem: responseElem, option: $event.checked})"
          [(ngModel)]="responseElem.isPartOfStudy"></mat-slide-toggle>
      </td>
    </ng-container>

    <ng-container matColumnDef="studyTrainingControls">
      <th mat-header-cell *matHeaderCellDef> Is Part of Training Set </th>
      <td mat-cell *matCellDef="let responseElem">
        <mat-slide-toggle
          (change)="partOfTrainingChange.emit({responseElem: responseElem, option: $event.checked})"
          [(ngModel)]="responseElem.isUsedForTraining"></mat-slide-toggle>
      </td>
    </ng-container>

    <!-- User set ID for the given response -->
    <ng-container matColumnDef="responseID">
      <th mat-header-cell *matHeaderCellDef> Response ID </th>
      <td mat-cell *matCellDef="let responseElem"> {{responseElem.response.responseID}} </td>
    </ng-container>

    <!-- Person who recorded the response -->
    <ng-container matColumnDef="responderID">
      <th mat-header-cell *matHeaderCellDef> Responder ID </th>
      <td mat-cell *matCellDef="let responseElem"> {{responseElem.response.responderID}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
