table {
  width: 100%;
}

button {
  margin: 1rem;
}

.response-grid {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.video-preview {
  max-width: 300px;
  max-height: 300px;
}

video {
  height: 100%;
  width: 100%;
}
