<div fxLayout="column" fxLayoutAlign="center center" class="videoContainer">
  <!-- Recording info message -->
  <div *ngIf="isRecording" fxLayout="row" fxLayoutAlign="start center" class="recording-info">
    <mat-icon class="recordingIndicator">videocam</mat-icon>
    <span>Recording...</span>
  </div>

  <video class="video" #recordVideo controls class="videoView"></video>

  <!-- Button to start/stop recording -->
  <div>
    <button (click)="toggleRecording()" mat-stroked-button>
      {{ isRecording ? 'Stop Recording' : 'Start Recording' }}
    </button>
  </div>
</div>
