.videoContainer {
  max-width: 1000px;
  max-height: 1000px;
  background-color: #FFFFFF;
}

.recordingIndicator {
  color: #FF0000;
  animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
	}
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 40px;
  border: 2px solid #09db48;
  top: 50%;
  left: 50%;
}

.recordedIndicator {
  background-color: #09db48;
}

.selectedVideoIndicator {
  border: 15px solid #0000FF;
}
