.software-title {
  font-size: 1.75em;
  color: #fafafa;
}

.navigation-body {
  background-color: #627aa1;
  color: white;
  margin-top: 2em;
}

.navbar {
  background-color: #4e6180;
  padding: 1rem;
  height: 100%;
}

.navbar-element {
  background-color: #627aa1;
}

.nav-link {
  font-size: 50px;
  font-size: 16px;
  border-radius: 5px;
  color: #fafafa;
}

.active-link {
  background-color: #42597d;
}

/* Override padding controls to keep the navbar text at the same indent level */
.mat-expansion-panel-header {
  padding: 0rem 1rem 0rem 0rem;
}

/* Override card title for better view */
::ng-deep .mat-card-header-text {
  margin: 0px 0px !important;
}
