<div fxLayout="column" fxLayoutAlign="start" class="navbar" style="height: 100%">
  <div style="color: #fafafa">ASL-LEX SignLab</div>
  <mat-nav-list>
    <a mat-list-item
       routerLink="/tag"
       routerLinkActive="active-link"
       class="nav-link">Tagging</a>

    <!-- Organization Controls -->
    <mat-expansion-panel class="navbar">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <a mat-list-item
             routerLink="/organization"
             routerLinkActive="active-link"
             class="nav-link">Organization</a>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="submenu">
        <a mat-list-item
           routerLink="/organization"
           routerLinkActive="active-link"
           class="nav-link">Organization</a>
        <a mat-list-item
           routerLink="/organization/organization-list"
           routerLinkActive="active-link"
           class="nav-link">User Controls</a>
      </div>
    </mat-expansion-panel>

    <!-- Project Controls -->
    <mat-expansion-panel class="navbar">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <a mat-list-item
             routerLink="/admin"
             routerLinkActive="active-link"
             class="nav-link">Projects</a>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <a mat-list-item
           routerLink="/project"
           routerLinkActive="active-link"
           class="nav-link">User Permissions</a>
        <a mat-list-item
           routerLink="/project"
           routerLinkActive="active-link"
           class="nav-link">Dataset Access</a>
        <a mat-list-item
           routerLink="/project"
           routerLinkActive="active-link"
           class="nav-link">Create new Project</a>
      </mat-nav-list>
    </mat-expansion-panel>

    <!-- Studies Control -->
    <mat-expansion-panel class="navbar">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <a mat-list-item
             routerLink="/admin"
             routerLinkActive="active-link"
             class="nav-link">Studies</a>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <a mat-list-item
           routerLink="/project"
           routerLinkActive="active-link"
           class="nav-link">User Permissions</a>
        <a mat-list-item
           routerLink="/project"
           routerLinkActive="active-link"
           class="nav-link">Tags</a>
        <a mat-list-item
           routerLink="/project"
           routerLinkActive="active-link"
           class="nav-link">Entry Controls</a>
        <a mat-list-item
           routerLink="/project"
           routerLinkActive="active-link"
           class="nav-link">Contribute</a>
      </mat-nav-list>
    </mat-expansion-panel>

    <!-- Dataset Control -->
    <mat-expansion-panel class="navbar">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <a mat-list-item
             routerLink="/admin"
             routerLinkActive="active-link"
             class="nav-link">Datasets</a>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <a mat-list-item
           routerLink="/project"
           routerLinkActive="active-link"
           class="nav-link">Upload Entries</a>
        <a mat-list-item
           routerLink="/project"
           routerLinkActive="active-link"
           class="nav-link">Create New Dataset</a>
      </mat-nav-list>
    </mat-expansion-panel>

    <!-- Login/Logout -->
    <a mat-list-item
       routerLink="/auth"
       routerLinkActive="active-link"
       *ngIf="!authService.isAuthenticated()"
       class="nav-link">Login</a>
    <a mat-list-item
       *ngIf="authService.isAuthenticated()"
       class="nav-link">Logout</a>
  </mat-nav-list>
</div>
