.study-select {
  color: white;
  font-size: 1.2em;
}

.mat-select-value-text {
  color: white;
}

::ng-deep .mat-select-value {
  color: white;
}

.select-field {
  padding-left: 0.5em;
}

.study-select-card {
  background-color: #627aa1;
  color: white;
}

::ng-deep .mat-card-header-text {
  margin: 0px 0px !important;
}
