<mat-stepper [linear]="true" orientation="vertical">
  <!-- Step 1, enter activation code -->
  <mat-step [stepControl]="activationFormGroup" label="Enter Activation Code">
    <form [formGroup]="activationFormGroup">
      <mat-form-field apperance="fill">
        <mat-label>Activation Code</mat-label>
        <input matInput
               placeholder="Code"
               formControlName="code"
               autocomplete="off" required>
      </mat-form-field>
    </form>
  </mat-step>

  <!-- Step 2, make project owner account -->
  <mat-step [stepControl]="ownerCreateGhostForm" label="Enter Owner Account">
    <div *ngIf="hasCreatedUser; then userCreatedView else signupView"></div>
    <!-- Message to let the user know their account was created -->
    <ng-template #userCreatedView>
      <mat-card>
        <mat-card-content>
          User Account Created
        </mat-card-content>
      </mat-card>
    </ng-template>

    <!-- Singup view -->
    <ng-template #signupView>
      <app-signup [onUserSignup]='this.userMade'></app-signup>
    </ng-template>
  </mat-step>

  <!-- Step 3, determine response metadata -->
  <mat-step label="Select Response Metadata">
    <response-meta-form [onMetadataSubmit]="metadataSubmit"></response-meta-form>
  </mat-step>
</mat-stepper>
